# bin
/bin
/bin/*
/*/bin

# production
grep/target
grep/libs/target
iterateurs/target
iterateurs/libs/target
iterateur/target
iterateur/libs/target
crates_musical/target
ajout/target
pointeurs/target
pointeurs/deref/target
deref/target
drop/target
rct/target
refcell/target
refcell/libs/target
boucleRef/target
weak/target
concurrence/target
concurenceMove/target